In [ ]:
# Question 1: Create a dictionary of student names and their ages
print("Question 1: Create a dictionary of student names and their ages")
d={'sasi':21,
   'ram':45,
   'sita':43
   }
d

Question 1: Create a dictionary of student names and their ages

{'sasi': 21, 'ram': 45, 'sita': 43}

In [ ]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
print("\nQuestion 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}")
d={'a': 1, 'b': 2, 'c': 3}
d.update({'d':4})
d

Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
print("\nQuestion 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}")
d={'name': 'John', 'age': 25, 'city': 'New York'}
d.keys()

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}

dict_keys(['name', 'age', 'city'])

In [ ]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
print("\nQuestion 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}")
d={'python': 3, 'java': 2, 'c++': 1}
d.values()

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}

dict_values([3, 2, 1])

In [ ]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
print("\nQuestion 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}")
d={'name': 'Alice', 'age': 30, 'city': 'London'}
if 'age' in d.keys():
    print("Key 'age' exists in the dictionary.")
else:
  print('Key age does not exist in the dictionary.')

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
Key 'age' exists in the dictionary.

In [ ]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
print("\nQuestion 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}")
d={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
d.pop('temp')
d

Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

{'a': 1, 'b': 2, 'c': 4}

In [ ]:
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
# Your code here
dict1_q10 = {'a': 1, 'b': 2}
dict2_q10 = {'c': 3, 'd': 4}
merged_dict = {**dict1_q10, **dict2_q10}
print(merged_dict)

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
print("\nQuestion 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}")
d={'math': 85, 'science': 92, 'english': 78}
sum(list(d.values()))

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}

255

In [ ]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
print("\nQuestion 8: Create a dictionary with squares of numbers 1 to 5")
d={}
for i in range(1,6):
  d[i]=i*i
d

Question 8: Create a dictionary with squares of numbers 1 to 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Question 9: Count frequency of each character in string "hello"
print("\nQuestion 9: Count frequency of each character in string 'hello'")
s="hello"
d={

}
for i in s:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1
d.items()

Question 9: Count frequency of each character in string 'hello'

dict_items([('h', 1), ('e', 1), ('l', 2), ('o', 1)])

In [ ]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
d1= {'a': 1, 'b': 2}
d2= {'c': 3, 'd': 4}
d1.update(d2)
d1

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
print("\nQuestion 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
d = {'person': {'name': 'Alice', 'age': 25}}
print(nested_dict)

Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
{'person': {'name': 'Alice', 'age': 25}}

In [ ]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}")
d['person']['name']

Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

'Alice'

In [ ]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print("\nQuestion 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")
fruit=['apple', 'banana']
color=['red', 'blue']
d={
    'a':fruit,
    'b':color
}
d

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

{'a': ['apple', 'banana'], 'b': ['red', 'blue']}

In [ ]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
print("\nQuestion 14: Add 'orange' to the 'fruits' list in nested dictionary")
d['a'].append('orange')
d

Question 14: Add 'orange' to the 'fruits' list in nested dictionary

{'a': ['apple', 'banana', 'orange'], 'b': ['red', 'blue']}

In [ ]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print("\nQuestion 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}")
t=[input() for i in range(2)]
s=[input() for i in range(3)]
d={
    'a':tuple(t),
    'b':tuple(s)
}

d

Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
12
20
255
0
0

{'a': ('12', '20'), 'b': ('255', '0', '0')}

In [ ]:
# Question 16: Extract first coordinate from nested tuple
print("\nQuestion 16: Extract first coordinate from nested tuple")
d['a'][0]

Question 16: Extract first coordinate from nested tuple

'12'

In [ ]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print("\nQuestion 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}")
vowels={'a', 'e', 'i'}
consonants={'b', 'c', 'd'}
d={
    'a':vowels,
    'b':consonants
}
d

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

{'a': {'a', 'e', 'i'}, 'b': {'b', 'c', 'd'}}

In [ ]:
# Question 18: Add 'o' to vowels set in nested dictionary
print("\nQuestion 18: Add 'o' to vowels set in nested dictionary")
d['a'].add('o')
d

Question 18: Add 'o' to vowels set in nested dictionary

{'a': {'a', 'e', 'i', 'o'}, 'b': {'b', 'c', 'd'}}

In [ ]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print("\nQuestion 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}")
nested_dict_3_level = {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(nested_dict_3_level)

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [ ]:
# Question 20: Access employee name from 3-level nested dictionary
print("\nQuestion 20: Access employee name from 3-level nested dictionary")
nested_dict_3_level['company']['department']['employee']['name']

Question 20: Access employee name from 3-level nested dictionary

'John'

In [ ]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print("\nQuestion 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}")
d={
    'int':42,
    'float':3.1,
    'str':'hello',
    'bool':True,
}
d

Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

{'int': 42, 'float': 3.1, 'str': 'hello', 'bool': True}