In [1]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
l=[i*i for i in range(1,11)]
l

Question 1: Create a list of first 10 square numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
 #Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
l=[i for i in range(1,11)]
sum(l)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [8]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
l=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
l1=[]
for i in l:
  if i not in l1 and l1.count(i)<2:
    l1.append(i)
l1

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [9]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
l.sort(reverse=True)
l

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

[7, 6, 6, 5, 4, 4, 3, 2, 2, 1]

In [11]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
l=[15, 23, 31, 42, 56, 78, 91]
res=sum(l)//len(l)
res

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

48

In [12]:
# Question 6: Create a list of first 15 Fibonacci numbers
l=['0']*16
l[0]=0
l[1]=1
for i in range(2,16):
  l[i]=l[i-1]+l[i-2]
l

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [14]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
l=[45, 67, 23, 89, 12, 34, 78]
l.sort()
l[-2]

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

78

In [15]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.reverse()
l

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
l=[1, 5, 2, 5, 3, 5, 4, 5, 6]
c=0
for i in l:
  if i^5==0:
    c+=1
c

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

4

In [37]:
# Question 10: Create a list of prime numbers between 1 and 50
import math
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
def prime(n):
  c=0
  for i in range(2,int(math.sqrt(n))):
    if n%i==0:
      c+=1
  if c==0:
    print(n,end=" ")

l=[]
for i in range(2,50):
  prime(i)

Question 10: Create a list of prime numbers between 1 and 50
2 3 4 5 6 7 8 9 11 13 15 17 19 23 25 29 31 35 37 41 43 47 49

In [38]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
l1=[1, 2, 3, 4, 5]
l2=[4, 5, 6, 7, 8]
for i in l1:
  if i in l2:
    print(i)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
4
5

In [40]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
l=[ list(map(int,input().split()))for i in range(3)]
l

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
1 2
3 4
5 6

[[1, 2], [3, 4], [5, 6]]

In [42]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in l:
  print(sum(i))

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
15
24

In [52]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
l=[[1, 2, 3]
   , [4, 5, 6],
   [7, 8, 9]]
res=[]
for i in range(len(l)):
  l1=[]
  for j in range(len(l)):
    l1.append(l[j][i])
  res.append(l1)
print(res,end="")

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [54]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
l=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
for i in l:
  print(max(i),end=" ")

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
5 9 8

In [58]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
l=[[list(map(int,input().split()))for i in range(4) for j in range(1)]]
l

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
1 2
3 4
5 6
7 8

[[[1, 2], [3, 4], [5, 6], [7, 8]]]

In [61]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
l=[[1, 2], [3, 4]], [[5, 6], [7, 8]]
su=0
for i in l:
  for j in i:
    su+=sum(j)
su

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

36

In [63]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in l:
  for j in i:
    if j&1==0:
      print(j,end=" ")

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2 4 6 8

In [68]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
l=[list(map(int,input().split()))]
l.extend([1,2,8.9,'hello'])
l

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
1 2 3

[[1, 2, 3], 1, 2, 8.9, 'hello']

In [70]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
s=[print(len(input()))for i in range(2)]

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
hello
5
hii
3