In [ ]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
l=[]
for i in range(1,4):
    t=(i,chr(96+i))
    l.append(t)
l

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
for i in l:
  print(i[0],end=" ")

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
1 2 3

In [ ]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
d1={'name':'Alice','age':25}
d2={'name':'Bob','age':30}
l=[]
l.append(d1)
l.append(d2)
l

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [ ]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
for i in l:
  print(i['name'],end=" ")

Question 25: Extract all 'name' values from list of dictionaries
Alice Bob

In [ ]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
s=max(i['age'] for i in l)
for i in l:
  if i['age']==s:
    print(i['name'],s)

Question 26: Find the person with maximum age in list of dictionaries
Bob 30

In [ ]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
data = list(range(1, 17))
l4 = []
for i in range(2):
    level3 = []
    for j in range(2):
        level2 = []
        for k in range(2):
            start = (i*8) + (j*4) + (k*2)
            level2.append(data[start : start+2])
        level3.append(level2)
    l4.append(level3)
l4

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
 [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")
l4.sort()
l4[-1][-1][-1][-1]

Question 28: Find the maximum value in 4D list

16

In [ ]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
# print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
l=[]
for i in range(3):
  s1=set()
  for j in range(3):
    s1.add(i*3+j+1)
  l.append(s1)
l

[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [ ]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
s=set({})
for i in l:
  s=s|i
s

Question 30: Find the union of all sets in list of sets

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
l=[complex(int(input()),int(input()))for i in range(3)]
l

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
1
2
3
4
5
6

[(1+2j), (3+4j), (5+6j)]

In [ ]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")
for i in l:
  print(abs(i),end=" ")

Question 32: Find the magnitude of each complex number in list
2.23606797749979 5.0 7.810249675906654

In [ ]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")
l=[1,7]
l1=[i for i in range(2)]
l2=[4,list(map(int,input().split()))]
l.append(l1)
l.append(l2)
l

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
5 6

[1, 7, [0, 1], [4, [5, 6]]]

In [ ]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")
l=[[1,2,3],(4,5,6),{7,8,9},{1:'a',2:'b'}]
l

Question 39: Create a list of classes: [list, dict, set, tuple]

[[1, 2, 3], (4, 5, 6), {7, 8, 9}, {1: 'a', 2: 'b'}]

In [1]:
# Question 41: Create a list of None values: [None, None, None, None]
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")
l=[None]*4
l

Question 41: Create a list of None values: [None, None, None, None]

[None, None, None, None]

In [2]:
# Question 42: Replace all None values with 0 in list
print("\nQuestion 42: Replace all None values with 0 in list")
l=[0]*4
l

Question 42: Replace all None values with 0 in list

[0, 0, 0, 0]

In [3]:
# Question 43: Create a list of boolean values: [True, False, True, False]
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")
l=[True,False,True,False]
l

Question 43: Create a list of boolean values: [True, False, True, False]

[True, False, True, False]

In [4]:
# Question 44: Count True values in boolean list
print("\nQuestion 44: Count True values in boolean list")
l=[True]*4
l

Question 44: Count True values in boolean list

[True, True, True, True]

In [5]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")
l=[range(3), range(5), range(2)]
l

Question 45: Create a list of ranges: [range(3), range(5), range(2)]

[range(0, 3), range(0, 5), range(0, 2)]

In [14]:
# Question 46: Convert each range to list
print("\nQuestion 46: Convert each range to list")
l=[list((i for i in range(0,3))),list((i for i in range(0,5))),list((x for x in range(0,2)))]
l

Question 46: Convert each range to list

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [12]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")
l=[(x for x in range(3)), (x for x in range(5))]
l

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

[<generator object <genexpr> at 0x7e4cdbe2e2c0>,
 <generator object <genexpr> at 0x7e4cc3915900>]

In [13]:
# Question 48: Convert each generator to list
print("\nQuestion 48: Convert each generator to list")
for i in l:
  print(list(i))

Question 48: Convert each generator to list
[0, 1, 2]
[0, 1, 2, 3, 4]

In [15]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")
l=[iter([1, 2, 3]), iter([4, 5, 6])]
l

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

In [16]:
# Question 50: Extract all elements from each iterator
print("\nQuestion 50: Extract all elements from each iterator")
for i in l:
  print(list(i))

Question 50: Extract all elements from each iterator
[1, 2, 3]
[4, 5, 6]