In [2]:
s=input("enter the string: ")
v="aeiouAEIOU"
c=0
for i in s:
  if i in v:
    c+=1
print("vowels count",c)

enter the string: python Programming
vowels count 4

In [3]:
n=12345
rev=0
while n>0:
  rev=rev*10+(n%10)
  n=n//10
print(rev)

54321

In [4]:
n=1234
sum=0
while n>0:
  sum+=n%10
  n=n//10
print(sum)

10

In [7]:
for i in range(1,100):
  if i&1==0:
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [8]:
n=5
fact=1
while n>0:
  fact*=n
  n-=1
print(fact)

120

In [57]:
import math
n=11
c=0
for i in range(2,int(math.sqrt(n))):
  if n%i==0:
    c+=1
if c==0:
  print("prime number")
else:
  print("not a prime number")

prime number

In [17]:
n=887766
c=0
while n>0:
  n=n//10
  c+=1
print(c)

6

In [18]:
n=3
for i in range(1,11):
  print(f"{n} * {i} = {n*i} ",end="\n")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [24]:
l=[1,5,3,4,6,7,4]
l.sort()
print(l[-1])

l=[2,3,4,1,1,4,5,7,9]
maxi=-100000000007
for i in l:
  if i>maxi:
    maxi=i
print(maxi)

7
9

In [29]:
n=5
for i in range(n+1):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****

In [33]:
c=0
for i in range(1,50):
  if i&1==0:
    c+=i
print("even sum ",c)
print("odd sum ",(50*49)//2-c)

even sum  600
odd sum  625

In [39]:
s="data science course"
l=s.split(" ")
s=''.join(l)
print(s)

datasciencecourse

In [50]:
s="madam"
if s==s[::-1]:
  print("palindrome")
else:
  print("nope")

ss="aaaaab"
i=0
j=len(ss)-1
while j>i:
  if ss[i]!=ss[j]:
    print("Nope")
    break
  i+=1
  j-=1
else:
  print("palindrome")

palindrome
Nope

In [56]:
l=[1,2,1,3,4,2,5,6,3]
l1=[]
for i in l:
  if l.count(i)>=2 and i not in l1:
    l1.append(i)
print(l1)

d={}
for i in l:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1
print(d.items())

[1, 2, 3]
dict_items([(1, 2), (2, 2), (3, 2), (4, 1), (5, 1), (6, 1)])