In [2]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
s=set()
for i in range(1,11):
  s.add(i)
s

Question 1: Create a set of first 10 natural numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
s={1,2,3}
s.add(15)
s

Question 2: Add element 11 to set {1, 2, 3, 4, 5}

{1, 2, 3, 15}

In [4]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
s={1,2,3,4,5,6}
s.remove(3)
s

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

In [5]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1&s2

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{4, 5}

In [6]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1-s2

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{1, 2, 3}

In [7]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
s1={1,2,3,4,6,7,8}
if 5 in s1:
  print("5 is in set")
else:
  print("5 is not in set")

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
5 is not in set

In [8]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
s={1,2,3,4,5}
len(s)

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

5

In [9]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
s='hello world'
v=set()
t="aeiou"
for i in s:
  if i in t:
    v.add(i)
v

Question 8: Create a set of vowels from string 'hello world'

{'e', 'o'}

In [10]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
l=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
list(set(l))

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

[1, 2, 3, 4, 5, 6, 7]

In [11]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
s1={1, 2, 3, 4, 5, 6}
s={1, 2, 3}
s.issubset(s1)

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}

True