In [2]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
n=tuple(map(int,input().split()))
n

Question 1: Create a tuple of first 10 natural numbers
1 2 3 4 5 6 7 8 9 0

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [3]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
length=len(n)
length

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

10

In [5]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
t=('a','b','c','d')
print(t[2])

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
c

In [6]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
t=(23,45,12,67,34,89,56)
print(max(t))

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
89

In [7]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
t=(1,5,2,5,3,5,4,5,6)
print(t.count(5))

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
4

In [8]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
t=()
for i in range(3):
  t=t+tuple(input().split())
t

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
2
sasi
7.9

('2', 'sasi', '7.9')

In [9]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
t=('java','python','c++','javascript')
print(t.index('python'))

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
1

In [10]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
tuple1 = (10, 20, 30, 40, 50)
if 25 in tuple1:
  print("25 exists in tuple1")
else:
  print("25 does not exist in tuple1")

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
25 does not exist in tuple1

In [26]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
t=()
for i in range(1,6):
  t=t+(2*i,)
t

Question 9: Create a tuple of first 5 even numbers

(2, 4, 6, 8, 10)

In [28]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
t=(15, 23, 31, 42, 56, 78)
print(sum(t)/len(t))

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336